#mobileNav {
    width:50px;
    height: 50px;
    background-color: black;
    border:1px solid white;
    display: none;
    z-index:3;
    border-radius: 10px;
    cursor: pointer;
}
#mobileNav:hover {
    transform: scale(110%);
    transition: transform 0.2s linear;
}

.fa-bars {
    visibility: hidden;
}

@media (max-width:610px) {
    #mobileNav{
        position:fixed;
        right:3%;
        visibility: visible;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header {
        display: flex;
        justify-content: left;
        align-items: center;

    }
    .fa-bars{
        visibility: visible;
        font-size:3.5em;
    }

    header ul {
        display: flex;
        position:absolute;
        flex-direction: column;
        height:320px;
        width:200px;
        top:0%;
        right:0%;
        background-color: white;
        visibility: hidden;
        box-shadow: 1px 5px 5px black;
        border-radius: 5px;
    }

    header ul li {
        width: 100%;
    }
}